<nav class="navbar navbar-expand-lg bg-light">
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">
                Sobre mim
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="formation" routerLinkActive="active">
                Formação
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="portfolio" routerLinkActive="active">
                Portfólio
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">
                Contato
            </a>
        </li>
        
    </ul>
    
</nav>

<router-outlet></router-outlet>